.home-container {
	background-color: black;
	background-repeat: repeat-y;
	background-size: cover;
	background-image: url("../../assets/right_panel1.png");

	.text-wrapper {
		padding: 120px 40px 40px 40px;

		.vector-image {
			width: 200px;
		}
	}

	.text-wrapper1 {
		padding: 100px 40px 40px 40px;
		// text-align: center;
		.vector-image {
			width: 664px;
			height: 300px;
		}
	}

	.text-subtitle {
		font-style: normal;
		font-size: 72px;
		font-weight: 200;
		text-transform: uppercase
	}

	.team-member-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.team-member {
			width: 23%;
			text-align: center;
			padding: 1%;
			min-width: 200px;

			img {
				width: 100%;
			}

			.member-name {
				color: white;
			}
		}
	}

	.partner-list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 15%;
			height: 100%;
		}
	}
}
// Mobile Design //
@media (max-width: 625px) {
	.home-container {
		background-image: none;
		background-color: black;

		.text-wrapper {
			padding: 20px;

			.vector-image {
				// width: 200px;
			}

			.text-subtitle {
				font-size: 36px;
				font-weight: 200;
				line-height: 72px;
			}

			.text-content-gray {
				font-size: 15px;
				line-height: 24px;
			}
		}
		.text-wrapper1 {
			padding: 20px;

			.vector-image {
				// width: 200px;
			}

			.text-subtitle {
				font-size: 36px;
				font-weight: 200;
				line-height: 72px;
			}

			.text-content-gray {
				font-size: 15px;
				line-height: 24px;
			}
		}

		.team-member-list {
			// display: flex;
			// flex-wrap: wrap;
			// justify-content: center;

			// .team-member {
			// 	width: 23%;
			// 	text-align: center;
			// 	padding: 1%;
			// 	min-width: 200px;

			// 	img {
			// 		width: 100%;
			// 	}

			// 	.member-name {
			// 		color: white;
			// 	}
			// }
		}

		.partner-list {
			// display: flex;
			// justify-content: space-between;
			// align-items: center;

			// img {
			// 	width: 15%;
			// 	height: 100%;
			// }
		}
	}

	#nav-modal {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		width: fit-content;
		background-color: black;
		padding: 20px;
		border: 1px solid #2DAFB2;
		color: #2DAFB2;

		.nav-text {
			font-size: 15px;
			padding: 7px;
		}

		.showcase-menu-title {
			color: white;
			font-weight: 700;
			letter-spacing: 5px;
			border-width: 1px;
			border-style: solid;
			padding: 10px 0;
			margin: 7px 0;
			border-image: linear-gradient(to right, #E4CB6F, #06A9C0) 100% 1;
			background: linear-gradient(-27deg, #06A9C0 40%, #DB5994 47%, #E4CB6F 70%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.showcase-menu-text {
			font-size: 13px;
			padding: 7px;
		}
	}
}
